%h1 Люди: #{@tag.name.inspect}
%h3 Всего #{@people.size}

%hr
= link_to 'Редактировать тэг', edit_tag_path(@tag)
%hr

%table.people
  %colgroup
    %col.name

  %tr
    %th Имя

  - @people.each do |person|
    %tr
      %td= person.name
