// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.people {
  td {
    border-bottom: 1px dotted black;
  }
  th {
    border-bottom: 1px dotted black;
  }

  .name {
    width: 25%;
  }

  span.tag {
    display: inline-block;
    margin: 0 2px;
  }
}